@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:wght@400,600,700&text=╭─│·┬─╰──╯&font-display=swap');

.terminal-output {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8em;
  line-height: 1.3;

  .bold { font-weight: bold; }
  .underline { text-decoration: underline; }
  .line-through { text-decoration: line-through; }

  color: #232221;
  background-color: #ffffff;

  .ef246 { color: #898179; } // light grey
  .ef249 { color: #67615c; } // dark grey
  .f1 { color: #cb2f2c; font-weight: 600; } // red
  .f3 { color: #ff924f; font-weight: 600; } // yellow
  .f5 { color: #ac59ae; font-weight: 600; } // purple
  .f6 { color: #167c9d; font-weight: 600; } // blue

  white-space: pre-wrap;
  padding-left: 12px;
  padding-right: 12px;
}
